# pull in these templates outside of range loop
{{ $zdm_fullname := include "zdm.fullname" . -}}
{{- $zdm_labels := include "zdm.labels" . -}}
{{- $zdm_selectorLabels := include "zdm.selectorLabels" . -}}
{{- $zdm_secretName := include "zdm.secretName" . -}}
{{- $zdm_secretScbName := include "zdm.secretScbName" . -}}
{{- $scb_enabled := include "scb.enabled" . -}}

# calculate a variable that contains all proxy service addresses
{{ $service_addresses := "" -}}
{{- range $index := until (.Values.proxy.count | int) -}}
    {{- $service_addresses = printf "%s,$(%s_%s_SERVICE_HOST)" $service_addresses ($zdm_fullname | upper | replace "-" "_") ($index | toString) -}}
{{- end -}}
{{- $service_addresses = $service_addresses | trimPrefix "," -}}

{{- range $index := until (.Values.proxy.count | int) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- $zdm_labels | nindent 4 }}
    app: {{ $zdm_fullname }}-{{ $index }}
  name: {{ $zdm_fullname }}-{{ $index }}
  namespace: {{ $.Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- $zdm_selectorLabels | nindent 6 }}
      app: {{ $zdm_fullname }}-{{ $index }}
  template:
    metadata:
      labels:
        {{- $zdm_selectorLabels | nindent 8 }}
        app: {{ $zdm_fullname }}-{{ $index }}
    spec:
      containers:
      - image: "{{ $.Values.proxy.image.repository }}:{{ $.Values.proxy.image.tag | default $.Chart.AppVersion }}"
        name: {{ $zdm_fullname }}-{{ $index }}
        resources:
          requests:
            memory: {{ $.Values.proxy.resources.requests.memory | quote }}
            cpu: {{ $.Values.proxy.resources.requests.cpu | quote }}
          limits:
            memory: {{ $.Values.proxy.resources.limits.memory | quote }}
            cpu: {{ $.Values.proxy.resources.limits.cpu | quote }}
        envFrom:
        - configMapRef:
            name: {{ $zdm_fullname }}
        env:
        - name: ZDM_PROXY_LISTEN_ADDRESS
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: ZDM_PROXY_LISTEN_PORT
          value: "9042"
        - name: ZDM_METRICS_ADDRESS
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: ZDM_METRICS_PORT
          value: "14001"
        - name: ZDM_PROXY_TOPOLOGY_INDEX
          value: {{ $index | quote }}
        - name: ZDM_PROXY_TOPOLOGY_ADDRESSES
          value: {{ $service_addresses }}
        {{- if eq ($scb_enabled) "true" }}
        - name: ZDM_TARGET_SECURE_CONNECT_BUNDLE_PATH
          value: /tmp/scb/target.zip
        {{- else }}
        - name: ZDM_TARGET_CONTACT_POINTS
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: target_contact_points
        {{- end }}
        - name: ZDM_ORIGIN_CONTACT_POINTS
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: origin_contact_points
        - name: ZDM_ORIGIN_PORT
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: origin_port
        - name: ZDM_ORIGIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: origin_username
        - name: ZDM_ORIGIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: origin_password
        - name: ZDM_TARGET_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: target_username
        - name: ZDM_TARGET_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_secretName }}
              key: target_password
        ports:
        - containerPort: 9042
      {{- if eq ($scb_enabled) "true" }}
        volumeMounts:
          - name: scb
            mountPath: "/tmp/scb"
            readOnly: true
      volumes:
        - name: scb
          secret:
            secretName: {{ $zdm_secretScbName }}
            items:
              - key: secure-connect-target.zip
                path: target.zip
      {{- end }}
---
{{- end -}}