# calculate a variable that contains all proxy service addresses
{{ $service_addresses := "" -}}
{{- range $index := until (.Values.proxy.count | int) -}}
    {{- $service_addresses = printf "%s,$(ZDM_PROXY_%s_SERVICE_HOST)" $service_addresses ($index | toString) -}}
{{- end -}}
{{- $service_addresses = $service_addresses | trimPrefix "," -}}

# pull in these templates outside of range loop
{{ $zdm_fullname := include "zdm.fullname" . -}}
{{- $zdm_labels := include "zdm.labels" . -}}
{{- $zdm_selectorLabels := include "zdm.selectorLabels" . -}}

{{- range $index := until (.Values.proxy.count | int) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- $zdm_labels | nindent 4 }}
    app: {{ $zdm_fullname }}-{{ $index }}
  name: {{ $zdm_fullname }}-{{ $index }}
  namespace: {{ $.Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- $zdm_selectorLabels | nindent 6 }}
      app: {{ $zdm_fullname }}-{{ $index }}
  template:
    metadata:
      labels:
        {{- $zdm_selectorLabels | nindent 8 }}
        app: {{ $zdm_fullname }}-{{ $index }}
    spec:
      containers:
      - image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
        name: {{ $zdm_fullname }}-{{ $index }}
        resources:
          requests:
            memory: {{ $.Values.proxy.resources.requests.memory | quote }}
            cpu: {{ $.Values.proxy.resources.requests.cpu | quote }}
          limits:
            memory: {{ $.Values.proxy.resources.limits.memory | quote }}
            cpu: {{ $.Values.proxy.resources.limits.cpu | quote }}
        envFrom:
        - configMapRef:
            name: {{ $zdm_fullname }}
        env:
        - name: ZDM_PROXY_LISTEN_ADDRESS
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: ZDM_PROXY_LISTEN_PORT
          value: "9042"
        - name: ZDM_METRICS_ADDRESS
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: ZDM_METRICS_PORT
          value: "14001"
        - name: ZDM_PROXY_TOPOLOGY_INDEX
          value: {{ $index | quote }}
        - name: ZDM_PROXY_TOPOLOGY_ADDRESSES
          value: {{ $service_addresses }}
        - name: ZDM_ORIGIN_SECURE_CONNECT_BUNDLE_PATH
          value: /tmp/scb/origin.zip
        - name: ZDM_TARGET_SECURE_CONNECT_BUNDLE_PATH
          value: /tmp/scb/target.zip
        - name: ZDM_ORIGIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_fullname }}
              key: ORIGIN_USERNAME
        - name: ZDM_ORIGIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_fullname }}
              key: ORIGIN_PASSWORD
        - name: ZDM_TARGET_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_fullname }} 
              key: TARGET_USERNAME
        - name: ZDM_TARGET_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ $zdm_fullname }} 
              key: TARGET_PASSWORD
        ports:
        - containerPort: 9042
        volumeMounts:
        - name: scb
          mountPath: "/tmp/scb"
          readOnly: true
      volumes:
      - name: scb
        secret:
          secretName: zdmproxy-scb
          items:
          - key: secure-connect-origin.zip
            path: origin.zip
          - key: secure-connect-target.zip
            path: target.zip
---
{{- end -}}
