# pull in these templates outside of range loop
{{ $zdm_fullname := include "zdm.fullname" . -}}
{{- $zdm_labels := include "zdm.labels" . -}}
{{- $zdm_selectorLabels := include "zdm.selectorLabels" . -}}
{{- range $index := until (.Values.proxy.count | int) -}}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ $.Values.namespace }}
  name: {{ $zdm_fullname }}-{{ $index }}
  labels:
    {{- $zdm_labels | nindent 4 }}
    app: {{ $zdm_fullname }}-{{ $index }}
    role: zdmproxy
spec:
  type: {{ $.Values.service.type }}
  ports:
    - port: {{ $.Values.service.port | int }}
      targetPort: 9042
      protocol: TCP
      name: cql
  selector:
    {{- $zdm_selectorLabels | nindent 4 }}
    statefulset.kubernetes.io/pod-name: {{ $zdm_fullname }}-{{ $index }}
---
{{- end -}}
